img {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.navbar {
  background: #ffa000;
  background-image: linear-gradient(277deg, #f93b7a, #ffa000);
}

a {
  color: white !important;
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: block !important;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    display: block !important;
  }
  img {
    display: block !important;
  }
}
